@charset "utf-8";

/* clearfix */
.cf { 
    zoom: 1; 
}
.cf:before, .cf:after {
    content: ""; display: table; 
}
.cf:after {
    clear: both; 
}

/* 全デバイス共通とスマートフォン向け: ~768px */
body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-family: 'Oswald','Noto Serif JP',sans-serif, serif;
}

/* container */
#container {
    margin: 0 auto 0 auto;
}
    /* header */
    header {
        text-align: center;
    }
        /* nav */
        header #navwrap {
            width: 100%;
            height: 130px;
        }
        header nav {
            width: 100%;
            position: fixed;
            z-index: 1000;
            background-color: rgb(97, 156, 82);
        }
            header nav h2 {
                padding: 20px;
                font-size: 1.7em;
                font-weight: 800;
                color: #fff;
                
            }
                header nav ul li {
                    width: 33%;
                    float: left;
                    position: relative;
                    text-align: center;
                    font-size: 1em;
                    margin: 10px 0 20px 0;
                    padding: 10px 0; 
                    border-right: 1px solid rgba(217, 255, 222, 0.438);
                }
                    header nav ul li#last {
                        border-right: none;
                    }
                    header nav ul li a {
                        color: #fff;
                        text-decoration: none;
                    }
        /* backimg */
        #backimg {
            background: linear-gradient(to top, rgba(255, 255, 255, 0.199) 0%,rgba(255, 255, 255, 0.178)), url(sample.PNG) no-repeat center ;
            background-size: cover;
            width: 100%;
            max-height: 300px;
        }
            #bicontainer {
                margin: 120px auto;
            }
            #bicontainer h1 {
                display: inline;
                font-size: 1.6em;
                font-weight: 900;
                color: #fff;
            }
                #bicontainer h1.cf:after {
                    margin: 15px auto 10px auto;
                    width: 18%;
                    height: 2px;
                    background-color: rgba(82, 175, 94, 0.767);
                }
            #bicontainer h2 {
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.911);
            }
        
    /* contents */
    #contents {
        padding: 20px 0;
    }
        /* main */
        #main {
            padding: 50px 30px;
            margin: 0 auto;
        }
            #maintop {
                text-align: center;
                padding: 20px;
            }
                #plofileicon {
                    margin-bottom: 10px
                }
                    #plofileicon img {
                        background-color: rgba(97, 156, 82);
                        padding: 20px;
                        max-width: 10%;
                        max-height: 10%;
                    }
                #maintop h2 {
                    margin: 15px 0;
                    font-size: 2.1em;
                    color: rgba(0, 0, 0, 0.719);
                }
                #infocantainer {
                    padding: 20px;
                }
                .none {
                    display: none;
                }

                .imgwrap {
                    text-align: center;
                    margin-bottom: 15px;
                }
                    #infocantainer img {
                        max-width: 80%;
                        padding: 10px;
                    }
                section.info {
                    padding: 10px;
                    line-height: 1.6;
                    font-size: 0.8em;
                }
                    section.info h3 {
                        font-weight: 900;
                    }
                    section.info p {
                        font-weight: 400;
                    }
        /* bigpara */
        #bigpara {
            background: linear-gradient(to top, rgba(80, 80, 80, 0.418) 0%,rgba(255, 255, 255, 0.274)), url(westwoodlake.JPG) no-repeat center ;
            background-size: cover;
            max-height: 120px;
            padding: 10% 10px;
            text-align: center;
        }
            #bigpara h1 {
                display: inline;
                font-family: 'Oswald', sans-serif;
                font-size: 1.9em;
                font-weight: 900;
                color: rgb(255, 255, 255);
            }
        /* maincards */
        #maincards {
            padding: 30px;
            margin: 0 auto;
        }
            #cardwrap {
                padding: 20px;
            }
                section.card {
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    color: #fff;
                }
                #musiccard h3 {
                    padding: 0.8rem;
                    background-color: rgba(172, 60, 60, 0.815);
                    /* background: linear-gradient(top rgba(172, 60, 60, 0.815)); */
                }
                    #musiccard h3 img {
                        width: 0.8rem;
                        margin-right: 4%;
                        position: relative;
                        top: 0px;
                        z-index: 900;
                    }
                #musiccard p {
                    margin-bottom: 10%;
                }
                #overseacard h3 {
                    padding: 0.8rem;
                    background-color: rgba(153, 99, 179, 0.815);
                }
                    #overseacard h3 img {
                        width: 1rem;
                        margin-right: 4%;
                        position: relative;
                        top: 2px;
                        z-index: 900;
                    }
                #programmingcard h3 {
                    padding: 0.8rem;
                    background-color: rgba(60, 146, 172, 0.815);
                    /* background: linear-gradient(top rgba(172, 60, 60, 0.815)); */
                }
                    #programmingcard h3 img {
                        width: 1rem;
                        margin-right: 4%;
                        position: relative;
                        top: 0px;
                        z-index: 900;
                    }
                #programmingcard p {
                    margin-bottom: 10%;
                }
                    .cardimg {
                        width: 100%;
                        margin-bottom: -1px;
                        border-radius: 5px 5px 0 0;
                    }
                    .cardcontainer {
                        padding: 10px;
                        color: black;
                        font-size: 0.8rem;
                    }
                        .cardcontainer h3 { 
                            margin-bottom: 5%;
                            font-size: 1em;
                        }
                            .cardcontainer h3 img {
                                width: 0.8em;
                                margin-right: 5px;
                                position: relative;
                                top: 2px;
                                z-index: 900;
                            }
                        .cardcontainer a.toexperience {
                            width: 4rem;
                            float: right;
                            display: inline-block;
                            padding: 0.3rem 0.5rem;
                            border-radius: 3px;
                            text-decoration: none;
                            text-align: center;
                            font-size: 0.5px;
                            color: #ffffff;
                            background-color: rgb(132, 189, 118);
                            box-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.29);
                        }
        /* endline */
        div#endline {
            width: 70%;
            margin: 0 auto;
            border-bottom: 2px solid rgb(97, 156, 82);
        }

    /* footer */
    footer {
        padding: 30px 60px;
        margin: 0 auto 60px auto;
    }
        footer h2 {
            font-size: 1.8em;
            color: rgba(0, 0, 0, 0.719);
            margin-bottom: 15%;
        }
        .footercontainer {
            display: flex;
        }
            .footercontainer img {
                float: left;
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }
        .snsicon {
            cursor: pointer;
            transition-duration: 0.5s;
        }
        .snsicon a img:hover{
            transform: rotate(360deg);
            transition-duration: 0.5s;
        }

/*  PCおよびタブレット向け: 768px~960px  */
@media screen and (min-width:768px) {
    #backimg {
        max-height: 355px;
    }
    #main {
        width: 60%;
    }
    #maincards {
        width: 60%;
    }
        section.card {
            margin-top: 30px;
            margin-bottom: 60px;
        }
        #musiccard h3 {
            display: flex;
            align-items: center;
            padding: 1.5em;
        }
            #musiccard h3 img {
                width: 1.3em;
            }
        #overseacard h3 {
            display: flex;
            align-items: center;
            padding: 1.5em;
        }
            #overseacard h3 img {
                width: 1.3em;
            }
        #programmingcard h3 {
            display: flex;
            align-items: center;
            padding: 1.5em;
        }
            #programmingcard h3 img {
                width: 1.3em;
            }
    footer {
        text-align: center;
    }
        .footercontainer {
            display: inline-flex;
        }
            .footercontainer img {
                width: 40px;
                height: 40px;
                margin-right: 30px;
            }
            .twitter img {
                margin-right: 0;
            }
        footer h2 {
            margin-bottom: 40px;
        }
} 

/* PC向け: 961px~1024px */
@media screen and (min-width: 961px) {
    #backimg {
        height: 460px;
        max-height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #bicontainer h1 {
        font-size: 2.6em;
    }
        #bicontainer h1.cf:after {
            margin-top: 20px;
            width: 70%;

        }
    #bicontainer h2 {
        font-size: 1.2em;
    }
    #main {
        display: flex;
    }
        #maintop {
            width: 300px;
            text-align: inherit;
        }
        .none {
            display: inherit;
        }
        #plofileicon {
            margin-bottom: 30px;
        }
            #plofileicon img {
                padding: 40px;
                max-width: 20%;
            }
        #infocantainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #infocantainer img {
                max-width: 90%;
            }
            #infocantainer > section {
                display: none;
            }
    #bigpara h1 {
        font-size: 2.6em;
    }
    #maincards {
        width: 70%;
    }
    #cardwrap {
        display: flex;
    }
        section.card {
            border: none;
            margin-right: 35px;
        }
            #programmingcard {
                margin-right: 0;
            }
            section.card > h3 {
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            section.card > img {
                float: left;
            }
    footer {
        text-align: center;
    }
        .footercontainer {
            display: inline-flex;
        }
            .footercontainer img {
                width: 50px;
                height: 50px;
                margin-right: 40px;
            }
            .twitter img {
                margin-right: 0;
            }
        footer h2 {
        font-size: 2.6em;

        }
}

/* 大型PC向け: 1025px~ */
@media screen and (min-width: 1025px) {
    header #navwrap {
        height: 180px;
    }
    header nav {
        height: 180px;
    }
        header nav h2 {
            margin-top: 10px;
            font-size: 2.1em;
        }
        header nav ul {
            display: flex;
        }
        header nav ul li {
            margin-top: 20px;
            width: 33.333%;
            font-size: 1.3em;
        }
    #maintop h2 {
        margin: 25px 0;
    }
    #infocantainer {
        margin-left: auto;
    }
    #backimg {
        height: 661px;
        max-height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.card {
        margin: 60px 80px 100px 0;
    }
        section.card > h3 {
            height: 180px;
        }
}
